.footer {
  padding: 20px 0;
  background: $blackColor;
  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(540) {
      flex-direction: column;
    }
  }
  // .footer__policy
  &__policy {
    background: transparent;
    color: #fff;
    transition: $standartTrans;
    font-size: 14px;
    color: #7c7d7d;
    text-decoration: underline;
    @include media(540) {
      margin-bottom: 12px;
    }
    &:hover {
      color: #fff;
    }
  }
  // .footer__text
  &__text {
    color: #fff;
  }
}
