.promo {
  width: 100%;
  @include adaptiveClamp('padding-top', 120, 100);
  @include adaptiveClamp('padding-bottom', 60, 40);
  background-image: url("./../images/promo/bg.jpg");
  background-repeat: no-repeat;
  background-position: 60% -180px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(#fff, 40%);
    backdrop-filter: blur(2px);
  }
  // .promo__container
  &__container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  // .promo__grandma-bg
  &__grandma-bg {
    position: absolute;
    pointer-events: none;
    bottom: -70px;
    right: 0;
    width: 432px;
    height: 472px;
    filter: drop-shadow(0 0 10px rgba(#000, 30%));

    img {
      position: relative;
    }
  }
  // .promo__title
  &__title {
    max-width: 700px;
    margin-bottom: 3px;
    @include adaptiveClamp('font-size', 35, 28, 768, 320, 1);
    font-weight: 900;
    color: $blackColor;
    position: relative;
    text-shadow: 1px 1px 2px rgba(#000, 20%);
    z-index: 2;
    margin-bottom: 10px;
    line-height: 120%;
    @include media(700) {
      max-width: 100%;
    }
    @include media(425) {
      text-align: center
    }
    span {
      @include adaptiveClamp('font-size', 30, 24, 768, 320, 1);
      font-weight: 500;
      color: #333333;
      position: relative;
      z-index: 2;
    }
  }
  // .promo__subtitle
  &__subtitle {
    @include adaptiveClamp('font-size', 36, 28, 768, 320, 1);
    font-weight: 900;
    color: $greenColor;
    text-shadow: 1px 1px 2px rgba(#000, 20%);
    background: rgba(#fff, 60%);
    backdrop-filter: blur(4px);
    padding: 5px 2px;
    max-width: 660px;
    @include media(425) {
      text-align: center
    }
  }
  // .promo__features
  &__features {
    margin-top: 28px;
  }
}
.features {
  max-width: 372px;
  padding: 17px 2% 15px;
  position: relative;
  z-index: 2;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(#000, 15%);
  @include media(425) {
    padding: rem(12);
    max-width: 100%;
  }
  // .features__list
  &__list {
    display: flex;
    flex-direction: column;
  }
  // .features__item
  &__item {
    display: flex;
    align-items: center;
    @include notLast {
      margin-bottom: 16px;
    }
  }
  // .features__icon
  &__icon {
    width: 21px;
    height: 21px;
    margin-right: 8px;
  }
  // .features__text
  &__text {
    font-weight: 500;
  }
  // .features__form
  &__form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
  // .features__field
  &__field {
    margin-bottom: rem(8);
  }
  // .features__input
  &__input { }
  // .features__placeholder
  &__placeholder { }
  // .features__button
  &__button {
    margin-top: 4px;
  }
}
