.promotions {
  @include adaptiveClamp('padding-top', 55, 40);
  @include adaptiveClamp('padding-bottom', 60, 40);
  // .promotions__container
  &__container {
    display: flex;
    flex-direction: column;
  }
  // .promotions__title
  &__title {
    margin-bottom: rem(40);
  }
  // .promotions__slider
  &__slider {
  }
  // .promotions__wrapper
  &__wrapper {
    padding-bottom: rem(50);
  }
  // .promotions__slide
  &__slide {
    width: auto;
    opacity: 0.3;
    transition: $standartTrans;
    user-select: none;
    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.item-promotion {
  display: flex;
  flex-direction: column;
  position: relative;
  width: rem(780);
  margin: 0 auto;
  overflow: hidden;
  border-radius: rem(16);
  box-shadow: 0 rem(4) rem(8) rgba(#000, 20%);
  @include media(768) {
    @include adaptiveClamp('width', 600, 300, 768, 320, 1);
  }
  // .item-promotion__image
  &__image {
    width: 100%;
    flex: 1 1;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  // .item-promotion__footer
  &__footer {
    position: relative;
    width: 100%;
    height: rem(80);
    padding: rem(10) rem(18);
    background-color: $greenColor;
    display: grid;
    grid-template-columns: 1fr rem(180) rem(180);
    align-items: center;
    column-gap: rem(8);
    @include media(768) {
      grid-template-columns: 1fr rem(148) rem(100);
    }
    @include media(620) {
      grid-template-columns: 1fr rem(180);
      grid-template-rows: auto auto;
      justify-items: start;
      column-gap: rem(20);
      height: rem(120);
      row-gap: rem(12);
    }
    @include media(460) {
      grid-template-columns: rem(150) 1fr;
    }
  }
  // .item-promotion__icon
  &__icon {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background-color: lighten($color: $greenColor, $amount: 5%);
    width: rem(78);
    height: rem(78);
    bottom: rem(16);
    left: rem(18);
    border: rem(4) solid lighten($greenColor, 5%);
    box-shadow: $lightBoxShadow;
    @include media(620) {
      bottom: rem(70);
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -45%);
      width: 110%;
      height: 110%;
      object-fit: cover;
    }
  }
  // .item-promotion__text
  &__text {
    padding-left: rem(84);
    display: flex;
    flex-direction: column;
    @include media(768) {
      // padding-left: rem(60);
    }
    @include media(620) {
      grid-column: span 2;
    }
    // .item-promotion__text_title
    &_title {
      color: #fff;
      @include media(768) {
        font-size: rem(14);
      }
      span {
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
    // .item-promotion__text_description
    &_description {
      color: #fff;
      font-weight: 500;
      @include media(768) {
        font-size: rem(14);
      }
    }
  }
  // .item-promotion__timer
  &__timer { }
  // .item-promotion__button
  &__button {
    width: 100%;
    padding: rem(12) rem(10);
    text-align: center;
    color: #fff;
    transition: $standartTrans;
    font-size: rem(14);
    border-radius: rem(10);
    background: linear-gradient(180deg, #ff9600 0%, #f04d0c 50%, #e10219 100%);
    box-shadow: 0 0 0 rem(4) lighten($greenColor, 8%);
    @include media(768) {
      text-transform: uppercase;
      font-size: rem(12);
      font-weight: 500;
      padding: rem(12) rem(2);
    }
    @include media(460) {
      padding: rem(8);
      height: 100%;
    }
    &:hover {
      box-shadow: 0 0 0 rem(4) lighten($greenColor, 5%), inset 0 0 rem(10) rgba(#000, 60%);
    }
  }
}
.timer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(48), 1fr));
  justify-items: center;
  @include media(620) {
    grid-template-columns: repeat(3, rem(42));
    column-gap: rem(12);
    justify-items: normal;
  }
  // .timer__group
  &__group {
    position: relative;
    transform: translateY(rem(-8));
    font-size: rem(30);
    padding: rem(2);
    background-color: #fff;
    border-radius: rem(6);
    text-align: center;
    font-weight: 300;
    box-shadow: 0 rem(2) rem(4) rgba(#000, 25%), 0 rem(2) rem(8) rgba(#000, 25%);
    &::after {
      position: absolute;
      bottom: rem(-14);
      left: 50%;
      transform: translateX(-50%);
      font-size: rem(10);
      font-weight: 500;
      color: #fff;
    }
    // .timer__group_hours
    &_hours {
      &::after {
        content: "часов";
      }
    }
    // .timer__group_minutes
    &_minutes {
      &::after {
        content: "минут";
      }
    }
    // .timer__group_seconds
    &_seconds {
      &::after {
        content: "секунд";
      }
    }
  }
}
