.page {
  // .page__promo
  &__promo {}
  // .page__promotions
  &__promotions {}
  // .page__about
  &__about {}
  // .page__catalog
  &__catalog {}
}
.title {
  font-size: rem(36);
  @include adaptiveClamp('font-size', 36, 24, 768, 320, 1);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  span {
    color: $greenColor;
  }
}
.swiper {
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: rem(16);
      height: rem(16);
      background-color: transparent;
      border: rem(2) solid $greenColor;
      transition: $standartTrans;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background-color: $greenColor;
      }
    }
  }
}
